/* .card {
  background-color: #121212;
  color: white;
}

.card input {
  background-color: #292929;
  color: white;
  border-color: #414141;
}

.card input:focus {
  background-color: #292929;
  color: white;
} */
